ion-content{
  --background: #f3f3f4;
}
.terms-text {
  padding: 10px;
}

.tabcontent {
  // display: none;
  padding: 0px 12px;
  // border: 1px solid #ccc;
  // border-top: none;
}

// .terms-text::-webkit-scrollbar {
//   width: 6px; /* Width of the scrollbar */
// }

// .terms-text::-webkit-scrollbar-track {
//   background: #f1f1f1; /* Track color */
// }

// .terms-text::-webkit-scrollbar-thumb {
//   background: #888; /* Thumb color */
// }
