@import '../../../assets/css/sbg-functions';
.browse {
  color: #444444;
  font-size: rem-calc(25) !important;
  font-family: roboto_medium !important;
  margin-right: 20%;
  margin-left: 20px;
  margin-bottom: 40px;
}

.identification-cards {
  background-color: #f3f3f4;
}

.browse2 {
  color: #757575;
  font-size: rem-calc(18) !important;
  font-family: roboto_medium !important;
}

.uk-card {
  border-radius: 10px;
}

.iconSize {
  font-size: 32px;
}
