:root {
        --PRIMARY-COLOR: #0033AA;
            --SECONDARY-COLOR: #0089FF;
            --TERTIARY-COLOR: #00AADD;
            --POSITIVE-COLOR: #0E8A00;
            --NEGATIVE-COLOR: #E0000F;
            --ACCENT-COLOR: #FF6611;
            --NOTIFICATION-COLOR: #FFB822;
            --IDENTIFIER-COLOR: #B34FC5;
            --WHITE-COLOR: #FFFFFF;
            --GRAY-DARK-COLOR: #DBDBDB;
            --GRAY-MEDIUM-COLOR: #EDEDED;
            --GRAY-LIGHT-COLOR: #F6F6F6;
            --FONT-DARK-COLOR: #222222;
            --FONT-MEDIUM-COLOR: #444444;
            --FONT-LIGHT-COLOR: #707070;
            --GRAPH1: #222222;
            --GRAPH2: #00A1AF;
            --GRAPH3: #B3C2E4;
            --GRAPH4: #FF6611;
            --GRAPH5: #0033AA;
            --GRAPH6: #CCCCCC;
            --GRAPH7: #00AADD;
            --GRAPH8: #00C18B;
            --GRAPH9: #675DC6;
            --GRAPH10: #B34FC5;
            --GRAPH11: #FFB822;
            --PRIMARY-COLOR-LIGHT: #E5EAF6;
            }