<div style="text-align:center" class="container">
  <h3 style="color: #fff;">
    <span class="browse" *ngIf="side === 'id_front'">
      Position your phone on portrait mode &
      Fit the <span><strong>FRONT</strong></span> of your <span><strong>ID</strong></span> within the frame
    </span>
    <span class="browse" *ngIf="side === 'id_back'">
      Position your phone on portrait mode &
      Fit the <span><strong>BACK</strong></span> of your <span><strong>ID</strong></span> within the frame
    </span>
    <span class="browse" *ngIf="side === 'passport'">
      Position your phone on portrait mode &
      Fit your <span><strong>PASSPORT</strong></span> within the frame
    </span>
    <span class="browse" *ngIf="side === 'signature'">
      Position your phone on portrait mode &
      Fit your <span><strong>SIGNATURE</strong></span> within the frame
    </span>
    <span class="browse" *ngIf="side === 'selfie'">
      Position your phone on portrait mode &
      Fit your <span><strong>FACE</strong></span> within the frame
    </span>
    <span class="browse" *ngIf="side === 'birth_cert'">
      Position your phone on portrait mode &
      Fit your child's <span><strong>BIRTH CERTIFICATE</strong></span> within the frame
    </span>
  </h3>
  <div>
    <webcam *ngIf="side !== 'selfie'"  class="mtn" [height]="240" [width]="640" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
            [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
            [videoOptions]="videoOptions"
            [imageQuality]="1"
            (cameraSwitched)="cameraWasSwitched($event)"
            (initError)="handleInitError($event)"
    ></webcam>
    <webcam *ngIf="side === 'selfie'"  class="mtn" [height]="280" [width]="640" style="border-radius: 50%;" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
    [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
    [videoOptions]="videoOptions"
    [imageQuality]="1"
    (cameraSwitched)="cameraWasSwitched($event)"
    (initError)="handleInitError($event)"
></webcam>
    <br/>
    <div class="uk-flex uk-flex-center">
      <ion-button  class="actionBtn" (click)="triggerSnapshot();" >
        <ion-icon name="camera"></ion-icon>
      </ion-button>
    </div>
    <!-- <button class="actionBtn" (click)="triggerSnapshot();">Take A Snapshot</button>
    <button class="actionBtn" (click)="toggleWebcam();">Toggle Webcam</button>
    <br/>
    <button class="actionBtn" (click)="showNextWebcam(true);" [disabled]="!multipleWebcamsAvailable">Next Webcam</button>
    <input id="cameraSwitchCheckbox" type="checkbox" [(ngModel)]="allowCameraSwitch"><label for="cameraSwitchCheckbox">Allow Camera Switch</label>
    <br/>
    DeviceId: <input id="deviceId" type="text" [(ngModel)]="deviceId" style="width: 500px">
    <button (click)="showNextWebcam(deviceId);">Activate</button>
  </div> -->
  <h5 style="color: #fff; margin: 20px;" class="uk-margin-large" >
    <span class="browse" *ngIf="side === 'id_front'" >
      Tap this button to capture the image of your <br> <span><strong>FRONT ID</strong></span>
    </span>
    <span class="browse" *ngIf="side === 'id_back'" >
      Tap this button to capture the image of your <br> <span><strong>BACK ID</strong></span>
    </span>
    <span class="browse" *ngIf="side === 'passport'" >
      Tap this button to capture the image of your <br> <span><strong>Passport</strong></span>
    </span>
    <span class="browse" *ngIf="side === 'signature'" >
      Tap this button to capture the image of your <br> <span><strong>Signature</strong></span>
    </span>
    <span class="browse" *ngIf="side === 'selfie'" >
      Tap this button to capture the image of your <br> <span><strong>Selfie</strong></span>
    </span>
  </h5>
</div>

<!-- <div class="snapshot" *ngIf="webcamImage">
  <h2>Nice one!</h2>
  <img [src]="webcamImage.imageAsDataUrl"/>
</div> -->

<h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
  <li>{{error | json}}</li>
</ul>
