.actionBtn {
  margin-top: 5px;
  margin-bottom: 2px;
  font-size: 1.2em;
}

.snapshot {
  text-align: center;
  img {
    max-width: 800px;
    max-height: 800px;
  }
}

ul.links {
  padding-bottom: 20px;
}

.container{
  background: url('../../../assets/images/cam-01.jpg');
  background-color: transparent;
  background-size: cover;


  z-index: 100 !important;
  height: 100vh;
}

.mtn{
  z-index: 500000;
}


.info-bar {
  position: absolute;
  width: 100% !important;
  height: 20vh;
  background: #000000;
  z-index: 10001 !important;
  opacity: 0.5;
  padding: 0.5em;
}

.info-bar h5 {
  color: #ffffff;
  opacity: 1 !important;
}

// .overlay-container {
//   position: relative;
//   width: 100%; /* Adjust as needed */
//   height: 100vh; /* Adjust as needed */
//   z-index: 100 !important;
//   background-color: transparent;
//   // background-image: url('../../assets/images/nrb.jpeg');
//   background-size: cover; /* Make sure the image covers the entire container */
// }

// .container::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
// }

