<ion-content class="overlay-container mobile-content">
  <div class="image-ill animate__animated animate animate__pulse animate__infinite animate__slower">
    <div class="uk-margin-large-bottom">
      <img src="assets/images/icon.png" alt="" height="100" width="100">
    </div>
  </div>
  <ion-title class="ion-margin-top ion-text-start">
    Thank you <br> for choosing Stanbic Bank
  </ion-title>
  <div style="padding: 20px 20px 20px 20px;">
    <p>As part of the onboarding process, you need to accept Terms & Conditions and the Privacy policy of Stanbic Bank.
  </div>
<div class="uk-flex uk-flex-center uk-margin-xlarge-top">

  <ion-button (click)="openTerms()" color="primary" mode="ios"
  class="slide-info__btn ion-margin-top "
  fill="solid" expand="block" shape="round"> Proceed to Accept Terms
</ion-button>
</div>
</ion-content>


<div class="desktop-content">

  <div class="body-section">
      <div class="overlay"></div>

      <div class="uk-position-top-left uk-padding">
        <img src="assets/images/icon.png" height="80" width="80" alt="">
      </div>
      <div class="body-content">
          <h1 class="font-bold text-head animate__animated animate__bounce" style="font-size: 40px; font-weight: 800;">Stanbic Bank <br>
              Online Account Opening
          </h1>
          <p class="text-desc">Welcome, <br>
             You have been redirected to acivate your Account creation process by Accepting the Terms and the Privacy policy of Stanbic Bank.  <br>
             </p>
             <div>
              <ion-button color="primary" mode="ios" routerLink="/qr-scan">Proceed To Accept Terms</ion-button>
             </div>
      </div>
      <div class="body-button">
          <div class="col-lg-9" data-aos="fade-up" data-aos-delay="500">
              <form method="post" class="form-box" id="submitEmail" onsubmit="return false" autocomplete="off">
              <!-- <h3 class="h4 text-black mb-4">Need an Account?</h3> -->
              <div class="form-group">
              <!-- <input type="text" name="email" class="form-control" placeholder="Email Addresss"> -->
              </div>
              <div class="form-group text-center animate__animated animate animate__pulse animate__infinite animate__slower">
                <img src="assets/images/id_trns.png" height="300" width="300" alt="">
                  <!-- <h4 class="text-intro ion-text-center">Activate your Account!</h4> -->
              </div>
              </form>
              </div>
      </div>

  </div>
  </div>
