<ion-content class="overlay-container">
  <div class="image-ill animate__animated animate animate__pulse animate__infinite animate__slower">
    <img src="assets/images/id_trns.png" alt="">
  </div>
  <ion-title class="ion-margin-top ion-text-start">
    Thank you <br> for choosing Cloudbook
  </ion-title>
  <div style="padding: 20px 20px 20px 20px;">
    <p>As part of the onboarding process you need to upload a copy of your <strong>National ID</strong> and <strong>passport photo</strong></p>
  </div>
<div class="uk-flex uk-flex-center uk-margin-xlarge-top">

  <ion-button (click)="openTerms()" color="primary" mode="ios"
  class="slide-info__btn ion-margin-top "
  fill="solid" expand="block" shape="round"> Proceed to Upload Documents
</ion-button>
</div>

</ion-content>
